<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr th:each="information:${qualityList}">
    <td><input readonly class="id" th:value="${information.quality_id}"></input></td>
    <td><input readonly class="name" th:value="${information.qualityname}"></input></td>
    <td><input readonly class="ip" th:value="${information.caigouriqi}"></input></td>
    <td>
        <button class="btn btn-sm btn-danger" th:onclick="deleteEmp([[${information.id}]])">删除</button>
        <button class="btn btn-sm" th:onclick="updateEmp(this)">开关</button>
    </td>
</tr>
</body>
</html>