<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <title>表单模块 - layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="../static/css/layui.css">

    <style>
        body{padding: 10px;}
    </style>
</head>
<body>

<form class="layui-form layui-form-pane1" th:action="@{/addthreequality}" lay-filter="first" style="padding-left: 100px; padding-top: 100px">
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label-2">上部叶烟碱%</label>
            <div class="layui-input-block-1">
                <input type="text" name="sbyyanjian" placeholder="输入0-100"  class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label-2">中部叶烟碱%</label>
            <div class="layui-input-block-1">
                <input type="text" name="zbyyanjian" placeholder="输入0-100"  class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label-2">下部叶烟碱%</label>
            <div class="layui-input-block-1">
                <input type="text" name="xbyyanjian" placeholder="输入0-100"  class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label-2">总糖%</label>
            <div class="layui-input-block-1">
                <input type="text" name="zongtang" placeholder="输入0-100"  class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label-2">还原糖%</label>
            <div class="layui-input-block-1">
                <input type="text" name="huanyuantang" placeholder="输入0-100"  class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label-2">钾含量%</label>
            <div class="layui-input-block-1">
                <input type="text" name="jiahanliang" placeholder="输入0-100"  class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label-2">氯含量%</label>
            <div class="layui-input-block-1">
                <input type="text" name="lvhanliang" placeholder="输入0-100"  class="layui-input">
            </div>
        </div>


        <div class="layui-inline">
            <label class="layui-form-label-2">淀粉%</label>
            <div class="layui-input-block-1">
                <input type="text" name="dianfen" placeholder="输入0-100"  class="layui-input">
            </div>
        </div>
    </div>

    <!--2-->
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label">香气质</label>
            <div class="layui-input-block">
                <select name="xiangqizhi" lay-verify="required" lay-verType="tips" >
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="18">好</option>
                    <option name="yszt" value="15">较好</option>
                    <option name="yszt" value="13" >中等+</option>
                    <option name="yszt" value="11">中等</option>
                    <option name="yszt" value="9">中等-</option>
                    <option name="yszt" value="7">较差</option>
                    <option name="yszt" value="5">差</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">香气量</label>
            <div class="layui-input-block">
                <select name="xiangqiliang" lay-verify="required" lay-verType="tips" >
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="16">足</option>
                    <option name="yszt" value="14">较足</option>
                    <option name="yszt" value="12" >尚充足+</option>
                    <option name="yszt" value="10">尚充足</option>
                    <option name="yszt" value="8">尚充足-</option>
                    <option name="yszt" value="7">较少</option>
                    <option name="yszt" value="5">差</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label">杂气</label>
            <div class="layui-input-block">
                <select name="zaqi" lay-verify="required" lay-verType="tips" >
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="16">无</option>
                    <option name="yszt" value="14">较轻</option>
                    <option name="yszt" value="12" >有+</option>
                    <option name="yszt" value="10">有</option>
                    <option name="yszt" value="8">有-</option>
                    <option name="yszt" value="7">较重</option>
                    <option name="yszt" value="5">重</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">刺激性</label>
            <div class="layui-input-block">
                <select name="cijixing" lay-verify="required" lay-verType="tips">
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="20">无</option>
                    <option name="yszt" value="17">微有</option>
                    <option name="yszt" value="15" >有+</option>
                    <option name="yszt" value="13">有</option>
                    <option name="yszt" value="11">有-</option>
                    <option name="yszt" value="9">较大</option>
                    <option name="yszt" value="7">大</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label">余味</label>
            <div class="layui-input-block">
                <select name="yuwei" lay-verify="required" lay-verType="tips" >
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="22">舒适</option>
                    <option name="yszt" value="19">较舒适</option>
                    <option name="yszt" value="15" >尚舒适+</option>
                    <option name="yszt" value="13">尚舒适</option>
                    <option name="yszt" value="11">尚舒适-</option>
                    <option name="yszt" value="9">较苦辣</option>
                    <option name="yszt" value="8">滞舌</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">燃烧性</label>
            <div class="layui-input-block">
                <select name="ranshaoxing" lay-verify="required" lay-verType="tips" >
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="4">强</option>
                    <option name="yszt" value="3">中等</option>
                    <option name="yszt" value="2" >差</option>
                    <option name="yszt" value="0">熄火</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label">灰色</label>
            <div class="layui-input-block">
                <select name="huise" lay-verify="required" lay-verType="tips" >
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="4">白</option>
                    <option name="yszt" value="3">灰白</option>
                    <option name="yszt" value="2" >灰</option>
                    <option name="yszt" value="1">黑灰</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">浓度</label>
            <div class="layui-input-block">
                <select name="nongdu" lay-verify="required" lay-verType="tips" >
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="1">淡</option>
                    <option name="yszt" value="2">较淡</option>
                    <option name="yszt" value="3" >中等</option>
                    <option name="yszt" value="4">较浓</option>
                    <option name="yszt" value="5">浓</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label">劲头</label>
            <div class="layui-input-block">
                <select name="jintou" lay-verify="required" lay-verType="tips" >
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="1">小</option>
                    <option name="yszt" value="2">较小</option>
                    <option name="yszt" value="3" >适中</option>
                    <option name="yszt" value="4">较大</option>
                    <option name="yszt" value="5">大</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">成团性</label>
            <div class="layui-input-block">
                <select name="chengtuanxing" lay-verify="required" lay-verType="tips" >
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="5">好</option>
                    <option name="yszt" value="4">较好</option>
                    <option name="yszt" value="3" >中等</option>
                    <option name="yszt" value="2">较差</option>
                    <option name="yszt" value="1">差</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label">细腻度</label>
            <div class="layui-input-block">
                <select name="xinidu" lay-verify="required" lay-verType="tips" >
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="5">细腻</option>
                    <option name="yszt" value="4">较细腻</option>
                    <option name="yszt" value="3" >中等</option>
                    <option name="yszt" value="2">稍粗糙</option>
                    <option name="yszt" value="1">粗糙</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">回甜感</label>
            <div class="layui-input-block">
                <select name="huitiangan" lay-verify="required" lay-verType="tips" >
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="5">强</option>
                    <option name="yszt" value="4">较强</option>
                    <option name="yszt" value="3" >中等</option>
                    <option name="yszt" value="2">弱</option>
                    <option name="yszt" value="1">无</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label">干燥感</label>
            <div class="layui-input-block">
                <select name="ganzaodu" lay-verify="required" lay-verType="tips" >
                    <option name="yszt" value="">请选择</option>
                    <option name="yszt" value="5">弱</option>
                    <option name="yszt" value="4">较弱</option>
                    <option name="yszt" value="3" >中等</option>
                    <option name="yszt" value="2">较强</option>
                    <option name="yszt" value="1">强</option>
                </select>
            </div>
        </div>
    </div>
    <!--3-->
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label">颜色状态</label>
            <div class="layui-input-block">
                <select name="yanse_zt" lay-verify="required" lay-verType="tips" lay-filter="yanse_zt">
                    <option name="yszt" value="">请选择颜色</option>
                    <option name="yszt" value="0">深黄色</option>
                    <option name="yszt" value="1">金黄色</option>
                    <option name="yszt" value="2" >正黄色</option>
                    <option name="yszt" value="3">淡黄色</option>
                    <option name="yszt" value="4">红棕色</option>
                    <option name="yszt" value="5">微带青</option>
                    <option name="yszt" value="6">杂色</option>
                    <option name="yszt" value="7">青黄</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">颜色评分</label>
            <div class="layui-input-block">
                <select name="yanse_pf" lay-filter="yanse_pf" id="yanse_pf">
                    <option value="">请选择评分</option>
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">成熟度状态</label>
            <div class="layui-input-block">
                <select name="chengshudu_zt" lay-verify="required" lay-verType="tips" lay-filter="chengshudu_zt">
                    <option value="">请选择成熟度</option>
                    <option value="0">完熟</option>
                    <option value="1">成熟</option>
                    <option value="2" >尚熟</option>
                    <option value="3">欠熟</option>
                    <option value="4">假熟</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">成熟度评分</label>
            <div class="layui-input-block">
                <select name="chengshudu_pf" lay-filter="quiz" id="chengshudu_pf">
                    <option value="">请选择评分</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">油分状态</label>
            <div class="layui-input-block">
                <select name="youfen_zt" lay-verify="required" lay-verType="tips" lay-filter="youfen_zt">
                    <option value="">请选择油分</option>
                    <option value="0">多</option>
                    <option value="1">较多</option>
                    <option value="2" >有</option>
                    <option value="3">稍有</option>
                    <option value="4">少</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">油分评分</label>
            <div class="layui-input-block">
                <select name="youfen_pf" lay-filter="quiz" id="youfen_pf">
                    <option value="">请选择评分</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">结构状态</label>
            <div class="layui-input-block">
                <select name="jiegou_zt" lay-verify="required" lay-verType="tips" lay-filter="jiegou_zt">
                    <option value="">请选择结构</option>
                    <option value="0">疏松</option>
                    <option value="1">尚疏松</option>
                    <option value="2" >稍密</option>
                    <option value="3">紧密</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">结构评分</label>
            <div class="layui-input-block">
                <select name="jiegou_pf" lay-filter="quiz" id="jiegou_pf">
                    <option value="">请选择评分</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">身份状态</label>
            <div class="layui-input-block">
                <select name="shenfen_zt" lay-verify="required" lay-verType="tips" lay-filter="shenfen_zt">
                    <option value="">请选择身份</option>
                    <option value="0">中等</option>
                    <option value="1">稍薄</option>
                    <option value="2" >稍厚</option>
                    <option value="3">薄</option>
                    <option value="4">厚</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">身份评分</label>
            <div class="layui-input-block">
                <select name="shenfen_pf" lay-filter="quiz" id="shenfen_pf">
                    <option value="">请选择评分</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">色度状态</label>
            <div class="layui-input-block">
                <select name="sedu_zt" lay-verify="required" lay-verType="tips" lay-filter="sedu_zt">
                    <option value="">请选择色度</option>
                    <option value="0">浓</option>
                    <option value="1">强</option>
                    <option value="2" >中</option>
                    <option value="3">弱</option>
                    <option value="3">淡</option>
                </select>
            </div>
        </div>


        <div class="layui-inline">
            <label class="layui-form-label">色度评分</label>
            <div class="layui-input-block">
                <select name="sedu_pf" lay-filter="quiz" id="sedu_pf">
                    <option value="">请选择评分</option>
                </select>
            </div>
        </div>
    </div>


    <button type="submit">提交</button>
</form>


<br><br><br>


<script src="../static/layui.js"></script>
<!-- <script src="../build/lay/dest/layui.all.js"></script> -->


<script>

    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        var $ = layui.jquery;


        var yanses = {
            "0": ["8", "9", "10", "11", "12", "13"],
            "1": ["11", "12", "13", "14", "15"],
            "2": ["10", "11", "12", "13", "14"],
            "3": ["6", "7", "8", "9", "10"],
            "4": ["6", "7", "8"],
            "5": ["4", "5"],
            "6": ["2", "3"],
            "7": ["1", "2"]
        };
        var chengshudus =
            {
                "0": ["18", "19", "20"],
                "1": ["16", "17", "18", "19", "20"],
                "2": ["11", "12", "13", "14", "15"],
                "3": ["4", "5", "6", "7", "8", "9", "10"],
                "4": ["1", "2", "3"]
            };
        var youfens =
            {
                "0": ["21", "22", "23", "24", "25"],
                "1": ["16", "17", "18", "19", "20"],
                "2": ["11", "12", "13", "14", "15"],
                "3": ["5", "6", "7", "8", "9", "10"],
                "4": ["1", "2", "3", "4"]
            };

        var jiegous =
            {
                "0":["11","12","13","14","15"],
                "1":["8","9","10"],
                "2":["4","5","6","7"],
                "3":["1","2","3"]
            };
        var shenfens =
            {
                "0":["11","12","13","14","15"],
                "1":["8","9","10"],
                "2":["4","5","6","7"],
                "3":["1","2","3"]
            };
        var sedus =
            {
                "0":["11","12","13","14","15"],
                "1":["8","9","10"],h
                "2":["4","5","6","7"],
                "3":["1","2","3"]
            };

        form.on('select(yanse_zt)', function(data){
            var scores= yanses[data.value];
            $('#yanse_pf').html('');
            $('#yanse_pf').append('<option>请选择评分</option>');
            for (var i in scores){
                $('#yanse_pf').append('<option>' + scores[i] + '</option>');
            }
            var thisValue = form.val('first', {
                'yanse_pf':'请选择评分'
            });
        });
        form.on('select(chengshudu_zt)', function(data){
            var scores= chengshudus[data.value];
            console.log(scores);
            $('#chengshudu_pf').html('');
            $('#chengshudu_pf').append('<option>请选择评分</option>');
            for (var i in scores){
                $('#chengshudu_pf').append('<option>' + scores[i] + '</option>');
            }
            var thisValue = form.val('first', {
                'chengshudu_pf':'请选择评分'
            });
        });
        form.on('select(youfen_zt)', function(data){
            var scores= youfens[data.value];
            $('#youfen_pf').html('');
            $('#youfen_pf').append('<option>请选择评分</option>');
            for (var i in scores){
                $('#youfen_pf').append('<option>' + scores[i] + '</option>');
            }
            var thisValue = form.val('first', {
                'youfen_pf':'请选择评分'
            });
        });
        form.on('select(jiegou_zt)', function(data){
            var scores= jiegous[data.value];
            $('#jiegou_pf').html('');
            $('#jiegou_pf').append('<option>请选择评分</option>');
            for (var i in scores){
                $('#jiegou_pf').append('<option>' + scores[i] + '</option>');
            }
            var thisValue = form.val('first', {
                'jiegou_pf':'请选择评分'
            });
        });
        form.on('select(shenfen_zt)', function(data){
            var scores= shenfens[data.value];
            $('#shenfen_pf').html('');
            $('#shenfen_pf').append('<option>请选择评分</option>');
            for (var i in scores){
                $('#shenfen_pf').append('<option>' + scores[i] + '</option>');
            }
            var thisValue = form.val('first', {
                'shenfen_pf':'请选择评分'
            });
        });
        form.on('select(sedu_zt)', function(data){
            var scores= sedus[data.value];
            console.log(scores);
            $('#sedu_pf').html('');
            $('#sedu_pf').append('<option>请选择评分</option>');
            for (var i in scores){
                $('#sedu_pf').append('<option>' + scores[i] + '</option>');
            }
            var thisValue = form.val('first', {
                'sedu_pf':'请选择评分'
            });
        });


    });

</script>


</body>
</html>
