<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta content="type=text/html;charset=UTF-8" />
    <title>登录页面</title>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}"/>
    <style type="text/css">
        body{
            padding-top: 50px;
        }
        .starter-template{
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">烟草管理系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li><a class="navbar-brand" th:href="@{/register}">注册</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <p th:if="${param.error}" class="bg-danger">账号或密码错误</p>
        <h2>登陆烟草管理系统</h2>
        <form name="form" th:action="@{/login}" action="/login" method="POST">
            <div class="form-group">
                <div>
                    <label for="username">账号：</label>
                    <input id="username" type="text" value="" placeholder="输入用户名" name="username" class="form-control"/>
                </div>
                <div>
                    <label for="password">密码：</label>
                    <input id="password" type="password" placeholder="输入密码" name="password" class="form-control"/>
                </div>
            </div>
            <input type="submit" id="login" value="登陆" class="btn btn-primary"/>
        </form>
    </div>
</div>

</body>
</html>