<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/layui.css" th:href="@{css/layui.css}">
</head>

<body style="height: 100%; margin: 0">
<form class="layui-form layui-form-pane1"  lay-filter="first" th:action="@{/tablesubmit}" >

    <div class="layui-inline">
        <label class="layui-form-label">年范围</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="date" name="date" placeholder=" - "/>
        </div>
    </div>
        <button class="layui-btn" lay-submit lay-filter="test" type="submit">立即提交</button>
    </div>
</form>
<input type="hidden" id="years" th:value="${years}"/>
<input type="hidden" id="yannongs" th:value="${yannongs}"/>
<input type="hidden" id="scoress" th:value="${scoress}"/>
<div id="container" style="height: 80%"></div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
<script type="text/javascript" src="../static/jquery-1.2.6.min.js"th:src="@{jquery-1.2.6.min.js}"></script>
<script type="text/javascript">
    function years() {
        var data = $("#years").val();
        var years = eval("("+data+")");
        return years;
    }
    function yannongs() {
        var data = $("#yannongs").val();
        var years = eval("("+data+")");
        return years;
    }
    function scoress() {
        var data = $("#scoress").val();
        var years = eval("("+data+")");
        return years;
    }
</script>
<script type="text/javascript"th:inline="none">
    var dom = document.getElementById("container");//图表主体
    var myChart = echarts.init(dom);//大概是图表格式的设定
    var app = {};
    option = null;

     var yearCount = years()//年数
     var score=scoress()//烟农数
    var xAxisData = yannongs();//存每个烟农的名字
    var customData = [];//存每个烟农每一年的分值如[[0,12,15],[1,16,35],[2,34,25]]
    var legendData = [];//存显示的年份名字+“平均值”
    var dataList = [];//存每一年每个农民的分值如[[12,16,34],[15,16,25]]

     legendData.push('trend');
    var encodeY = [];//存的是[1,2,3,4,5,6,7]对年份编码
    console.log(yearCount);
     console.log("断点：");
     console.log(xAxisData);
     for (var i = 0; i < yearCount.length; i++) {
         legendData.push(yearCount[i] + '');
         console.log(yearCount[i]);
         dataList.push([]);
         encodeY.push(1 + i);
     }//产生所有的年份
    console.log(legendData);
     for (var i = 0; i < xAxisData.length; i++) {


         var customVal = [i];
         customData.push(customVal);

         for (var j = 0; j < dataList.length; j++) {
             var value = score[j][i] ;
             dataList[j].push(value);
             customVal.push(value);
         }
     }

    function renderItem(params, api) {
        var xValue = api.value(0);
        var currentSeriesIndices = api.currentSeriesIndices();
        var barLayout = api.barLayout({
            barGap: '30%', barCategoryGap: '20%', count: currentSeriesIndices.length - 1
        });

        var points = [];
        for (var i = 0; i < currentSeriesIndices.length; i++) {
            var seriesIndex = currentSeriesIndices[i];
            if (seriesIndex !== params.seriesIndex) {
                var point = api.coord([xValue, api.value(seriesIndex)]);
                point[0] += barLayout[i - 1].offsetCenter;
                point[1] -= 20;
                points.push(point);
            }
        }
        var style = api.style({
            stroke: api.visual('color'),
            fill: null
        });

        return {
            type: 'polyline',
            shape: {
                points: points
            },
            style: style
        };
    }

    option = {
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: legendData
        },
        dataZoom: [{
            type: 'slider',
            start: 50,
            end: 70
        }, {
            type: 'inside',
            start: 50,
            end: 70
        }],
        xAxis: {
            data: xAxisData
        },
        yAxis: {},
        series: [{
            type: 'custom',
            name: 'trend',
            renderItem: renderItem,
            itemStyle: {
                borderWidth: 2
            },
            encode: {
                x: 0,
                y: encodeY
            },
            data: customData,
            z: 100
        }].concat(echarts.util.map(dataList, function (data, index) {
            return {
                type: 'bar',
                animation: false,
                name: legendData[index + 1],
                itemStyle: {
                    opacity: 0.5
                },
                data: data
            };
        }))
    };;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>
<script type="text/javascript" th:src="@{layui.js}" src="../static/layui.js"></script>
<script>

    layui.use(['form','laydate', 'layer'], function(){

        var form = layui.form
            ,layer = layui.layer
            ,$ = layui.jquery
            ,laydate = layui.laydate;
        laydate.render({
            elem: '#date'
            ,type: 'year'
            ,range: true
        });


    });
</script>
</body>
</html>